In [1]:
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt
import gc
import random
import re
from sklearn.metrics import *
import warnings
warnings.filterwarnings(action='ignore')

In [8]:
base_path = '../preprocessed data/'

train = pd.read_csv(r'C:\Users\gmlkd\machine-learning-exercises\10.DAYCON대회_사용자불편예지\training set\train_case3_9.csv')
# train_quality = pd.read_csv(base_path + 'new_train_quality.csv')
# train_problem = pd.read_csv(base_path + 'new_train_problem.csv', parse_dates=['time'])
test = pd.read_csv(r'C:\Users\gmlkd\machine-learning-exercises\10.DAYCON대회_사용자불편예지\training set\test_case3_9.csv')

In [9]:
train_col = train.columns
test_col = test.columns

In [10]:
for i in test_col:
    if i not in train_col:
        print(i)

fwver_04.33.1185
fwver_04.82.1778

In [11]:
test.drop(columns=['fwver_04.33.1185', 'fwver_04.82.1778'], inplace=True)

# 스케일링

## train data

범주형 - 수치형 데이터 나누기

In [19]:
# multiple_model 만 범주형 데이터

train_categorical = train[['multiple_model']]
train_numerical = train.drop(columns=['multiple_model'])

test_categorical = test[['multiple_model']]
test_numerical = test.drop(columns=['multiple_model'])

In [20]:
# 수치형 데이터 스케일링
# train이기 때문에 fit-transform
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()   
scaler.fit(train_numerical)

scalied_train = train_numerical.copy()
scalied_test = train_numerical.copy()

In [21]:
scalied_train = scaler.transform(train_numerical)
scalied_test = scaler.transform(test_numerical)

In [22]:
train_numerical = pd.DataFrame(scalied_train, columns=train_numerical.columns)
test_numerical = pd.DataFrame(scalied_test, columns=test_numerical.columns)

display(train_numerical.head())
display(test_numerical.head())

,counts,model_nm_model_0,model_nm_model_1,model_nm_model_2,model_nm_model_3,model_nm_model_4,model_nm_model_5,model_nm_model_6,model_nm_model_7,model_nm_model_8,...,errtype_33,errtype_34,errtype_35,errtype_36,errtype_38,errtype_39,errtype_40,errtype_41,errtype_42,period
0,-0.268744,-0.340504,-0.239957,-0.414143,0.102027,-0.055185,-0.047764,-0.024537,-0.050453,-0.026486,...,-1.052305,-0.061546,-0.074159,-1.030661,-0.114398,-0.080131,-0.602460,-0.336841,-0.644371,0.444763
1,0.500848,-0.340504,-0.239957,4.011349,-0.064861,-0.055185,-0.047764,-0.024537,-0.050453,-0.026486,...,-0.166879,0.083164,-0.074159,0.628662,-0.114398,-0.080131,0.795861,2.510621,-0.362551,0.444763
2,-0.272916,-0.340504,-0.239957,-0.414143,0.096218,-0.055185,-0.047764,-0.024537,-0.050453,-0.026486,...,-1.052305,-0.061546,-0.074159,-1.030661,-0.114398,-0.080131,-0.602460,-0.336841,-0.644371,-0.405319
3,-0.275951,-0.340504,-0.239957,0.146356,-0.064861,-0.055185,-0.047764,-0.024537,-0.050453,-0.026486,...,-0.343964,-0.061546,-0.074159,0.628662,0.641705,-0.080131,-0.392093,-0.285994,-0.644371,0.444763
4,-0.093888,0.651704,-0.239957,-0.414143,-0.064861,-0.055185,-0.047764,-0.024537,-0.050453,-0.026486,...,0.364376,-0.061546,-0.074159,0.628662,-0.114398,-0.080131,-0.552962,-0.336841,-0.080732,0.444763

,counts,model_nm_model_0,model_nm_model_1,model_nm_model_2,model_nm_model_3,model_nm_model_4,model_nm_model_5,model_nm_model_6,model_nm_model_7,model_nm_model_8,...,errtype_33,errtype_34,errtype_35,errtype_36,errtype_38,errtype_39,errtype_40,errtype_41,errtype_42,period
0,0.647256,-0.340504,1.576357,-0.297137,-0.064861,-0.055185,-0.047764,-0.024537,-0.050453,-0.026486,...,0.364376,-0.061546,0.035295,3.947309,-0.114398,0.071834,0.535996,-0.336841,-0.080732,0.274747
1,-0.280881,-0.340504,-0.239957,-0.414143,0.085127,-0.055185,-0.047764,-0.024537,-0.050453,-0.026486,...,-1.052305,-0.061546,-0.074159,-1.030661,-0.114398,-0.080131,-0.602460,-0.336841,-0.644371,0.104730
2,-0.046097,0.812602,-0.239957,-0.414143,-0.064861,-0.055185,-0.047764,-0.024537,-0.050453,-0.026486,...,0.364376,-0.061546,-0.074159,0.628662,-0.114398,0.983619,0.795861,-0.285994,-0.080732,0.444763
3,-0.264192,0.078343,-0.239957,-0.414143,-0.064861,-0.055185,-0.047764,-0.024537,-0.050453,-0.026486,...,-0.698135,-0.005270,0.254203,0.628662,-0.114398,-0.080131,-0.107479,0.069939,-0.644371,0.104730
4,-0.058235,-0.340504,0.183328,0.055770,-0.064861,-0.055185,-0.047764,-0.024537,-0.050453,-0.026486,...,-0.078337,-0.021349,0.035295,0.628662,0.263653,-0.080131,-0.008483,4.239437,-0.644371,0.444763

In [23]:
train = train_numerical.join(train_categorical)
test = test_numerical.join(test_categorical)

In [24]:
train.to_csv('../training set/train_case4.csv', index=False)
test.to_csv('../training set/test_case4.csv', index=False)