In [1]:
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt
import gc
import random
import re
from sklearn.metrics import *
import warnings
warnings.filterwarnings(action='ignore')

In [4]:
base_path = '../preprocessed data/'

train_err = pd.read_csv(r'C:\Users\gmlkd\machine-learning-exercises\10.DAYCON대회_사용자불편예지\training set\train_case3_9.csv')
# train_quality = pd.read_csv(base_path + 'new_train_quality.csv')
# train_problem = pd.read_csv(base_path + 'new_train_problem.csv', parse_dates=['time'])
test_err = pd.read_csv(r'C:\Users\gmlkd\machine-learning-exercises\10.DAYCON대회_사용자불편예지\training set\test_case3_9.csv')

## train - test column 맞추기

In [12]:
train_col = train_err.columns
test_col = test_err.columns

In [13]:
for i in test_col:
    if i not in train_col:
        print(i)

fwver_04.33.1185
fwver_04.82.1778

In [15]:
test_err.drop(columns=['fwver_04.33.1185', 'fwver_04.82.1778'], inplace=True)

In [18]:
train_err

,counts,model_nm_model_0,model_nm_model_1,model_nm_model_2,model_nm_model_3,model_nm_model_4,model_nm_model_5,model_nm_model_6,model_nm_model_7,model_nm_model_8,...,errtype_34,errtype_35,errtype_36,errtype_38,errtype_39,errtype_40,errtype_41,errtype_42,multiple_model,period
0,316.0,0.0,0.0,0.0,316.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,30.0
1,2345.0,0.0,0.0,2345.0,0.0,0.0,0.0,0.0,0.0,0.0,...,18.0,0.0,1.0,0.0,0.0,113.0,56.0,1.0,0.0,30.0
2,305.0,0.0,0.0,0.0,305.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0
3,297.0,0.0,0.0,297.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,2.0,0.0,17.0,1.0,0.0,0.0,30.0
4,777.0,777.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,4.0,0.0,2.0,0.0,30.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14995,191.0,0.0,0.0,191.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,9.0,7.0,4.0,0.0,NaN
14996,4.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
14997,818.0,818.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,12.0,0.0,1.0,0.0,0.0,58.0,7.0,5.0,0.0,NaN
14998,144.0,144.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,0.0,1.0,0.0,0.0,6.0,0.0,0.0,0.0,NaN
14999,566.0,0.0,0.0,0.0,566.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN

In [19]:
test_err

,counts,model_nm_model_0,model_nm_model_1,model_nm_model_2,model_nm_model_3,model_nm_model_4,model_nm_model_5,model_nm_model_6,model_nm_model_7,model_nm_model_8,...,errtype_34,errtype_35,errtype_36,errtype_38,errtype_39,errtype_40,errtype_41,errtype_42,multiple_model,period
0,2731,0.0,2669.0,62.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,3.0,0.0,2.0,92.0,0.0,2.0,1,29
1,284,0.0,0.0,0.0,284.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,28
2,903,903.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,14.0,113.0,1.0,2.0,0,30
3,328,328.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,7.0,3.0,1.0,0.0,0.0,40.0,8.0,0.0,0,28
4,871,0.0,622.0,249.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5.0,1.0,1.0,1.0,0.0,48.0,90.0,0.0,1,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14993,1115,0.0,1115.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,100.0,87.0,0.0,0,30
14994,515,515.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,12.0,17.0,0.0,0,30
14995,1915,1915.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,802.0,0.0,1.0,1.0,0.0,329.0,2.0,3.0,0,30
14996,24669,24669.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,3.0,0.0,30.0,49.0,0.0,0,28
14997,872,0.0,872.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6.0,0.0,0.0,0.0,0.0,269.0,0.0,0.0,0,30

## train - test concat

In [31]:
df = pd.concat([train_err, test_err], ignore_index=True)
df

,counts,model_nm_model_0,model_nm_model_1,model_nm_model_2,model_nm_model_3,model_nm_model_4,model_nm_model_5,model_nm_model_6,model_nm_model_7,model_nm_model_8,...,errtype_34,errtype_35,errtype_36,errtype_38,errtype_39,errtype_40,errtype_41,errtype_42,multiple_model,period
0,316.0,0.0,0.0,0.0,316.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,30.0
1,2345.0,0.0,0.0,2345.0,0.0,0.0,0.0,0.0,0.0,0.0,...,18.0,0.0,1.0,0.0,0.0,113.0,56.0,1.0,0.0,30.0
2,305.0,0.0,0.0,0.0,305.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0
3,297.0,0.0,0.0,297.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,2.0,0.0,17.0,1.0,0.0,0.0,30.0
4,777.0,777.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,4.0,0.0,2.0,0.0,30.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29993,1115.0,0.0,1115.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,100.0,87.0,0.0,0.0,30.0
29994,515.0,515.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,12.0,17.0,0.0,0.0,30.0
29995,1915.0,1915.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,802.0,0.0,1.0,1.0,0.0,329.0,2.0,3.0,0.0,30.0
29996,24669.0,24669.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,3.0,0.0,30.0,49.0,0.0,0.0,28.0
29997,872.0,0.0,872.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6.0,0.0,0.0,0.0,0.0,269.0,0.0,0.0,0.0,30.0

## 스케일링

In [32]:
# multiple_model 만 범주형 데이터

categorical_df = df[['multiple_model']]
numerical_df = df.drop(columns=['multiple_model'])
numerical_df

,counts,model_nm_model_0,model_nm_model_1,model_nm_model_2,model_nm_model_3,model_nm_model_4,model_nm_model_5,model_nm_model_6,model_nm_model_7,model_nm_model_8,...,errtype_33,errtype_34,errtype_35,errtype_36,errtype_38,errtype_39,errtype_40,errtype_41,errtype_42,period
0,316.0,0.0,0.0,0.0,316.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,30.0
1,2345.0,0.0,0.0,2345.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10.0,18.0,0.0,1.0,0.0,0.0,113.0,56.0,1.0,30.0
2,305.0,0.0,0.0,0.0,305.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0
3,297.0,0.0,0.0,297.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8.0,0.0,0.0,1.0,2.0,0.0,17.0,1.0,0.0,30.0
4,777.0,777.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,16.0,0.0,0.0,1.0,0.0,0.0,4.0,0.0,2.0,30.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29993,1115.0,0.0,1115.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,16.0,0.0,0.0,0.0,0.0,0.0,100.0,87.0,0.0,30.0
29994,515.0,515.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,14.0,1.0,0.0,1.0,0.0,0.0,12.0,17.0,0.0,30.0
29995,1915.0,1915.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,12.0,802.0,0.0,1.0,1.0,0.0,329.0,2.0,3.0,30.0
29996,24669.0,24669.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,14.0,0.0,0.0,1.0,3.0,0.0,30.0,49.0,0.0,28.0
29997,872.0,0.0,872.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,12.0,6.0,0.0,0.0,0.0,0.0,269.0,0.0,0.0,30.0

In [33]:
# 수치형 데이터 스케일링
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scalied_df = numerical_df.copy()

scalied_df = scaler.fit_transform(scalied_df)
numerical_df = pd.DataFrame(scalied_df, columns=numerical_df.columns)
numerical_df.head()

,counts,model_nm_model_0,model_nm_model_1,model_nm_model_2,model_nm_model_3,model_nm_model_4,model_nm_model_5,model_nm_model_6,model_nm_model_7,model_nm_model_8,...,errtype_33,errtype_34,errtype_35,errtype_36,errtype_38,errtype_39,errtype_40,errtype_41,errtype_42,period
0,-0.213614,-0.306457,-0.233452,-0.241292,0.073584,-0.056498,-0.049284,-0.02228,-0.051123,-0.029449,...,-1.025389,-0.056732,-0.074532,-1.017440,-0.123447,-0.083385,-0.602526,-0.361839,-0.644791,0.443964
1,0.393497,-0.306457,-0.233452,2.287379,-0.045112,-0.056498,-0.049284,-0.02228,-0.051123,-0.029449,...,-0.162199,0.076751,-0.074532,0.610876,-0.123447,-0.083385,0.798137,2.634011,-0.362708,0.443964
2,-0.216905,-0.306457,-0.233452,-0.241292,0.069452,-0.056498,-0.049284,-0.02228,-0.051123,-0.029449,...,-1.025389,-0.056732,-0.074532,-1.017440,-0.123447,-0.083385,-0.602526,-0.361839,-0.644791,-0.420972
3,-0.219299,-0.306457,-0.233452,0.078970,-0.045112,-0.056498,-0.049284,-0.02228,-0.051123,-0.029449,...,-0.334837,-0.056732,-0.074532,0.610876,0.673531,-0.083385,-0.391807,-0.308342,-0.644791,0.443964
4,-0.075675,0.569171,-0.233452,-0.241292,-0.045112,-0.056498,-0.049284,-0.02228,-0.051123,-0.029449,...,0.355716,-0.056732,-0.074532,0.610876,-0.123447,-0.083385,-0.552945,-0.361839,-0.080625,0.443964

In [34]:
df = numerical_df.join(categorical_df)
df

,counts,model_nm_model_0,model_nm_model_1,model_nm_model_2,model_nm_model_3,model_nm_model_4,model_nm_model_5,model_nm_model_6,model_nm_model_7,model_nm_model_8,...,errtype_34,errtype_35,errtype_36,errtype_38,errtype_39,errtype_40,errtype_41,errtype_42,period,multiple_model
0,-0.213614,-0.306457,-0.233452,-0.241292,0.073584,-0.056498,-0.049284,-0.02228,-0.051123,-0.029449,...,-0.056732,-0.074532,-1.017440,-0.123447,-0.083385,-0.602526,-0.361839,-0.644791,0.443964,0.0
1,0.393497,-0.306457,-0.233452,2.287379,-0.045112,-0.056498,-0.049284,-0.02228,-0.051123,-0.029449,...,0.076751,-0.074532,0.610876,-0.123447,-0.083385,0.798137,2.634011,-0.362708,0.443964,0.0
2,-0.216905,-0.306457,-0.233452,-0.241292,0.069452,-0.056498,-0.049284,-0.02228,-0.051123,-0.029449,...,-0.056732,-0.074532,-1.017440,-0.123447,-0.083385,-0.602526,-0.361839,-0.644791,-0.420972,0.0
3,-0.219299,-0.306457,-0.233452,0.078970,-0.045112,-0.056498,-0.049284,-0.02228,-0.051123,-0.029449,...,-0.056732,-0.074532,0.610876,0.673531,-0.083385,-0.391807,-0.308342,-0.644791,0.443964,0.0
4,-0.075675,0.569171,-0.233452,-0.241292,-0.045112,-0.056498,-0.049284,-0.02228,-0.051123,-0.029449,...,-0.056732,-0.074532,0.610876,-0.123447,-0.083385,-0.552945,-0.361839,-0.080625,0.443964,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29993,0.025461,-0.306457,0.498225,-0.241292,-0.045112,-0.056498,-0.049284,-0.02228,-0.051123,-0.029449,...,-0.056732,-0.074532,-1.017440,-0.123447,-0.083385,0.636998,4.292428,-0.644791,0.443964,0.0
29994,-0.154070,0.273914,-0.233452,-0.241292,-0.045112,-0.056498,-0.049284,-0.02228,-0.051123,-0.029449,...,-0.049316,-0.074532,0.610876,-0.123447,-0.083385,-0.453783,0.547615,-0.644791,0.443964,0.0
29995,0.264834,1.851621,-0.233452,-0.241292,-0.045112,-0.056498,-0.049284,-0.02228,-0.051123,-0.029449,...,5.890649,-0.074532,0.610876,0.275042,-0.083385,3.475509,-0.254844,0.201458,0.443964,0.0
29996,7.073215,27.493867,-0.233452,-0.241292,-0.045112,-0.056498,-0.049284,-0.02228,-0.051123,-0.029449,...,-0.056732,-0.074532,0.610876,1.072020,-0.083385,-0.230669,2.259530,-0.644791,0.097990,0.0
29997,-0.047249,-0.306457,0.338765,-0.241292,-0.045112,-0.056498,-0.049284,-0.02228,-0.051123,-0.029449,...,-0.012237,-0.074532,-1.017440,-0.123447,-0.083385,2.731794,-0.361839,-0.644791,0.443964,0.0

## train-test split

In [36]:
train = df.iloc[:15000, :]
test = df.iloc[15000: , :]

In [37]:
train

,counts,model_nm_model_0,model_nm_model_1,model_nm_model_2,model_nm_model_3,model_nm_model_4,model_nm_model_5,model_nm_model_6,model_nm_model_7,model_nm_model_8,...,errtype_34,errtype_35,errtype_36,errtype_38,errtype_39,errtype_40,errtype_41,errtype_42,period,multiple_model
0,-0.213614,-0.306457,-0.233452,-0.241292,0.073584,-0.056498,-0.049284,-0.02228,-0.051123,-0.029449,...,-0.056732,-0.074532,-1.017440,-0.123447,-0.083385,-0.602526,-0.361839,-0.644791,0.443964,0.0
1,0.393497,-0.306457,-0.233452,2.287379,-0.045112,-0.056498,-0.049284,-0.02228,-0.051123,-0.029449,...,0.076751,-0.074532,0.610876,-0.123447,-0.083385,0.798137,2.634011,-0.362708,0.443964,0.0
2,-0.216905,-0.306457,-0.233452,-0.241292,0.069452,-0.056498,-0.049284,-0.02228,-0.051123,-0.029449,...,-0.056732,-0.074532,-1.017440,-0.123447,-0.083385,-0.602526,-0.361839,-0.644791,-0.420972,0.0
3,-0.219299,-0.306457,-0.233452,0.078970,-0.045112,-0.056498,-0.049284,-0.02228,-0.051123,-0.029449,...,-0.056732,-0.074532,0.610876,0.673531,-0.083385,-0.391807,-0.308342,-0.644791,0.443964,0.0
4,-0.075675,0.569171,-0.233452,-0.241292,-0.045112,-0.056498,-0.049284,-0.02228,-0.051123,-0.029449,...,-0.056732,-0.074532,0.610876,-0.123447,-0.083385,-0.552945,-0.361839,-0.080625,0.443964,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14995,-0.251016,-0.306457,-0.233452,-0.035332,-0.045112,-0.056498,-0.049284,-0.02228,-0.051123,-0.029449,...,-0.056732,-0.074532,-1.017440,-0.123447,-0.083385,-0.490969,0.012642,0.483541,NaN,0.0
14996,-0.306969,-0.306457,-0.233452,-0.241292,-0.043610,-0.056498,-0.049284,-0.02228,-0.051123,-0.029449,...,-0.056732,-0.074532,-1.017440,-0.123447,-0.083385,-0.602526,-0.361839,-0.644791,NaN,0.0
14997,-0.063407,0.615375,-0.233452,-0.241292,-0.045112,-0.056498,-0.049284,-0.02228,-0.051123,-0.029449,...,0.032257,-0.074532,0.610876,-0.123447,-0.083385,0.116398,0.012642,0.765624,NaN,0.0
14998,-0.265079,-0.144178,-0.233452,-0.241292,-0.045112,-0.056498,-0.049284,-0.02228,-0.051123,-0.029449,...,-0.041900,-0.074532,0.610876,-0.123447,-0.083385,-0.528154,-0.361839,-0.644791,NaN,0.0
14999,-0.138810,-0.306457,-0.233452,-0.241292,0.167489,-0.056498,-0.049284,-0.02228,-0.051123,-0.029449,...,-0.056732,-0.074532,-1.017440,-0.123447,-0.083385,-0.602526,-0.361839,-0.644791,NaN,0.0

In [38]:
test

,counts,model_nm_model_0,model_nm_model_1,model_nm_model_2,model_nm_model_3,model_nm_model_4,model_nm_model_5,model_nm_model_6,model_nm_model_7,model_nm_model_8,...,errtype_34,errtype_35,errtype_36,errtype_38,errtype_39,errtype_40,errtype_41,errtype_42,period,multiple_model
15000,0.508995,-0.306457,1.517979,-0.174436,-0.045112,-0.056498,-0.049284,-0.02228,-0.051123,-0.029449,...,-0.056732,0.025317,3.867508,-0.123447,0.054372,0.537836,-0.361839,-0.080625,0.270977,1.0
15001,-0.223189,-0.306457,-0.233452,-0.241292,0.061564,-0.056498,-0.049284,-0.02228,-0.051123,-0.029449,...,-0.056732,-0.074532,-1.017440,-0.123447,-0.083385,-0.602526,-0.361839,-0.644791,0.097990,0.0
15002,-0.037973,0.711164,-0.233452,-0.241292,-0.045112,-0.056498,-0.049284,-0.02228,-0.051123,-0.029449,...,-0.056732,-0.074532,0.610876,-0.123447,0.880914,0.798137,-0.308342,-0.080625,0.443964,0.0
15003,-0.210023,0.063178,-0.233452,-0.241292,-0.045112,-0.056498,-0.049284,-0.02228,-0.051123,-0.029449,...,-0.004822,0.225015,0.610876,-0.123447,-0.083385,-0.106716,0.066140,-0.644791,0.097990,0.0
15004,-0.047548,-0.306457,0.174712,0.027211,-0.045112,-0.056498,-0.049284,-0.02228,-0.051123,-0.029449,...,-0.019653,0.025317,0.610876,0.275042,-0.083385,-0.007554,4.452920,-0.644791,0.443964,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29993,0.025461,-0.306457,0.498225,-0.241292,-0.045112,-0.056498,-0.049284,-0.02228,-0.051123,-0.029449,...,-0.056732,-0.074532,-1.017440,-0.123447,-0.083385,0.636998,4.292428,-0.644791,0.443964,0.0
29994,-0.154070,0.273914,-0.233452,-0.241292,-0.045112,-0.056498,-0.049284,-0.02228,-0.051123,-0.029449,...,-0.049316,-0.074532,0.610876,-0.123447,-0.083385,-0.453783,0.547615,-0.644791,0.443964,0.0
29995,0.264834,1.851621,-0.233452,-0.241292,-0.045112,-0.056498,-0.049284,-0.02228,-0.051123,-0.029449,...,5.890649,-0.074532,0.610876,0.275042,-0.083385,3.475509,-0.254844,0.201458,0.443964,0.0
29996,7.073215,27.493867,-0.233452,-0.241292,-0.045112,-0.056498,-0.049284,-0.02228,-0.051123,-0.029449,...,-0.056732,-0.074532,0.610876,1.072020,-0.083385,-0.230669,2.259530,-0.644791,0.097990,0.0
29997,-0.047249,-0.306457,0.338765,-0.241292,-0.045112,-0.056498,-0.049284,-0.02228,-0.051123,-0.029449,...,-0.012237,-0.074532,-1.017440,-0.123447,-0.083385,2.731794,-0.361839,-0.644791,0.443964,0.0

In [39]:
train.to_csv('../training set/train_concat.csv', index=False)
test.to_csv('../training set/test_concat.csv', index=False)