In [1]:
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt
import gc
import random
import re
from sklearn.metrics import *
import warnings
warnings.filterwarnings(action='ignore')

In [3]:
base_path = '../preprocessed data/'

train_err = pd.read_csv(base_path + 'new_train_err.csv', parse_dates=['time'])
train_quality = pd.read_csv(base_path + 'new_train_quality.csv')
train_problem = pd.read_csv(base_path + 'new_train_problem.csv', parse_dates=['time'])

# feature engineering

case3. model_nm + fwver + errtype + counts + multiple_model + errtype_num

In [4]:
df1 = train_err.copy()
df1

          user_id                time model_nm       fwver  errtype errcode
0           10000 2020-11-01 02:56:16  model_3  05.15.2138       15       1
1           10000 2020-11-01 03:03:09  model_3  05.15.2138       12       1
2           10000 2020-11-01 03:03:09  model_3  05.15.2138       11       1
3           10000 2020-11-01 05:05:14  model_3  05.15.2138       16       1
4           10000 2020-11-01 05:05:15  model_3  05.15.2138        4       0
...           ...                 ...      ...         ...      ...     ...
15367996    24999 2020-11-30 16:30:51  model_3  05.15.2138       15       1
15367997    24999 2020-11-30 17:26:25  model_3  05.15.2138       16       1
15367998    24999 2020-11-30 17:26:25  model_3  05.15.2138        4       0
15367999    24999 2020-11-30 17:26:31  model_3  05.15.2138        4       0
15368000    24999 2020-11-30 21:06:25  model_3  05.15.2138       15       1

[15368001 rows x 6 columns]

In [5]:
# counts column ì¶”ê°€
df1['counts'] = 1
df1

,user_id,time,model_nm,fwver,errtype,errcode,counts
0,10000,2020-11-01 02:56:16,model_3,05.15.2138,15,1,1
1,10000,2020-11-01 03:03:09,model_3,05.15.2138,12,1,1
2,10000,2020-11-01 03:03:09,model_3,05.15.2138,11,1,1
3,10000,2020-11-01 05:05:14,model_3,05.15.2138,16,1,1
4,10000,2020-11-01 05:05:15,model_3,05.15.2138,4,0,1
...,...,...,...,...,...,...,...
15367996,24999,2020-11-30 16:30:51,model_3,05.15.2138,15,1,1
15367997,24999,2020-11-30 17:26:25,model_3,05.15.2138,16,1,1
15367998,24999,2020-11-30 17:26:25,model_3,05.15.2138,4,0,1
15367999,24999,2020-11-30 17:26:31,model_3,05.15.2138,4,0,1
15368000,24999,2020-11-30 21:06:25,model_3,05.15.2138,15,1,1