## 1. 라이브러리 및 데이터 불러오기

In [1]:
# 분석에 필요한 라이브러리를 불러옵니다.
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

In [2]:
base_path = "C:/Users/gmlkd/data/시스템 품질 변화로 인한 사용자 불편 예지 AI 경진대회_data/"
train_err = pd.read_csv(base_path+"train_err_data.csv")
train_problem = pd.read_csv(base_path+"train_problem_data.csv")
train_quality = pd.read_csv(base_path+"train_quality_data.csv")
test_err = pd.read_csv(base_path+"test_err_data.csv")
test_quality = pd.read_csv(base_path+"test_quality_data.csv")
submission = pd.read_csv(base_path+"sample_submission.csv")

C:\Users\gmlkd\AppData\Local\Temp\ipykernel_5824\2401973358.py:4: DtypeWarning: Columns (10,11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  train_quality = pd.read_csv(base_path+"train_quality_data.csv")
C:\Users\gmlkd\AppData\Local\Temp\ipykernel_5824\2401973358.py:6: DtypeWarning: Columns (4,11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  test_quality = pd.read_csv(base_path+"test_quality_data.csv")

In [35]:
display(train_err.head(2))
display(test_err.head(2))
display(train_quality.head(2))
display(test_quality.head(2))
display(train_problem.head(2))

   user_id            time model_nm       fwver  errtype errcode
0    10000  20201101025616  model_3  05.15.2138       15       1
1    10000  20201101030309  model_3  05.15.2138       12       1

   user_id            time model_nm       fwver  errtype errcode
0    30000  20201101030227  model_1  04.16.3553       31       1
1    30000  20201101030227  model_1  04.16.3553       33       2

,time,user_id,fwver,quality_0,quality_1,quality_2,quality_3,quality_4,quality_5,quality_6,quality_7,quality_8,quality_9,quality_10,quality_11,quality_12
0,20201129090000,10000,05.15.2138,0.0,0,0.0,0,0,0,0,0,0,0,4,0,0
1,20201129090000,10000,05.15.2138,0.0,0,0.0,0,0,0,0,0,0,0,4,0,0

,time,user_id,fwver,quality_0,quality_1,quality_2,quality_3,quality_4,quality_5,quality_6,quality_7,quality_8,quality_9,quality_10,quality_11,quality_12
0,20201128195000,30000,04.33.1261,0.0,0,0.0,0,0,0,0,5,0,0,2,0,0
1,20201128195000,30000,04.33.1261,0.0,0,0.0,0,0,0,0,5,0,0,2,0,0

   user_id            time
0    19224  20201102200000
1    23664  20201116140000

In [14]:
train_err.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16554663 entries, 0 to 16554662
Data columns (total 6 columns):
 #   Column    Dtype
---  ------    -----
 0   user_id   int64
 1   time      int64
 2   model_nm  object
 3   fwver     object
 4   errtype   int64
 5   errcode   object
dtypes: int64(3), object(3)
memory usage: 757.8+ MB

In [21]:
train_problem.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5429 entries, 0 to 5428
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  5429 non-null   int64
 1   time     5429 non-null   int64
dtypes: int64(2)
memory usage: 85.0 KB

In [36]:
train_quality.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 828624 entries, 0 to 828623
Data columns (total 16 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   time        828624 non-null  int64
 1   user_id     828624 non-null  int64
 2   fwver       788544 non-null  object
 3   quality_0   684192 non-null  float64
 4   quality_1   828624 non-null  int64
 5   quality_2   788511 non-null  float64
 6   quality_3   828624 non-null  int64
 7   quality_4   828624 non-null  int64
 8   quality_5   828604 non-null  object
 9   quality_6   828624 non-null  int64
 10  quality_7   828624 non-null  object
 11  quality_8   828624 non-null  object
 12  quality_9   828624 non-null  object
 13  quality_10  828624 non-null  object
 14  quality_11  828624 non-null  int64
 15  quality_12  828624 non-null  int64
dtypes: float64(2), int64(8), object(6)
memory usage: 101.2+ MB

In [37]:
test_quality.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 747972 entries, 0 to 747971
Data columns (total 16 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   time        747972 non-null  int64
 1   user_id     747972 non-null  int64
 2   fwver       725208 non-null  object
 3   quality_0   641388 non-null  float64
 4   quality_1   747961 non-null  object
 5   quality_2   726857 non-null  float64
 6   quality_3   747972 non-null  int64
 7   quality_4   747972 non-null  int64
 8   quality_5   747928 non-null  object
 9   quality_6   747972 non-null  int64
 10  quality_7   747972 non-null  object
 11  quality_8   747972 non-null  object
 12  quality_9   747972 non-null  object
 13  quality_10  747972 non-null  object
 14  quality_11  747972 non-null  int64
 15  quality_12  747972 non-null  int64
dtypes: float64(2), int64(7), object(7)
memory usage: 91.3+ MB

## 2. 데이터 전처리

### 2-1. 결측치 처리

In [3]:
# time column을 datetype으로 변경

train_err['time'] = pd.to_datetime(train_err['time'], format='%Y%m%d%H%M%S')
train_problem['time'] = pd.to_datetime(train_problem['time'], format='%Y%m%d%H%M%S')
train_quality['time'] = pd.to_datetime(train_quality['time'], format='%Y%m%d%H%M%S')
test_err['time'] = pd.to_datetime(test_err['time'], format='%Y%m%d%H%M%S')
test_quality['time'] = pd.to_datetime(test_quality['time'], format='%Y%m%d%H%M%S')

In [5]:
# train_err
train_err.isnull().sum()

user_id     0
time        0
model_nm    0
fwver       0
errtype     0
errcode     1
dtype: int64

In [4]:
train_err[train_err.errcode.isnull()]

         user_id                time model_nm       fwver  errtype errcode
3825744    13639 2020-11-21 19:17:18  model_2  04.33.1261        5     NaN

In [5]:
# errcode 40013일 때와 user_id, time, model_nm, fwver, errtype모두 같다
train_err.iloc[3825740:3825750, :]

         user_id                time model_nm       fwver  errtype  errcode
3825740    13639 2020-11-21 15:47:31  model_2  04.33.1261       15        1
3825741    13639 2020-11-21 17:40:55  model_2  04.33.1261       16        1
3825742    13639 2020-11-21 17:40:58  model_2  04.33.1261       31        1
3825743    13639 2020-11-21 17:41:10  model_2  04.33.1261       31        0
3825744    13639 2020-11-21 19:17:18  model_2  04.33.1261        5      NaN
3825745    13639 2020-11-21 19:17:18  model_2  04.33.1261        5    40013
3825746    13639 2020-11-21 22:09:19  model_2  04.33.1261       15        1
3825747    13639 2020-11-22 03:06:33  model_2  04.33.1261       23  standby
3825748    13639 2020-11-22 03:06:39  model_2  04.33.1261       22        1
3825749    13639 2020-11-22 03:06:45  model_2  04.33.1261       42        3

In [6]:
# 따라서 같은 errcode일 것임을 유추하여 40013값을 넣어준다.
train_err.errcode = train_err.errcode.fillna('40013')

In [17]:
# train_problem
train_problem.isnull().sum()

user_id    0
time       0
dtype: int64

In [20]:
# train_quality
train_quality.isnull().sum()

time               0
user_id            0
fwver          40080
quality_0     144432
quality_1          0
quality_2      40113
quality_3          0
quality_4          0
quality_5         20
quality_6          0
quality_7          0
quality_8          0
quality_9          0
quality_10         0
quality_11         0
quality_12         0
dtype: int64

In [7]:
# 1. fwver 결측치

# fwver가 non인 user_id를 list로 저장
fwver_non_list = list(set(train_quality[train_quality.fwver.isnull()].user_id.values))

In [8]:
# user_id: 12607, 15680은 다른 row에 fwver값이 있다.
# case1. fwver=non을 이상치로 판단하고 모두 지우기
# case2. train_err에서 해당 user_id의 fwver값을 가져와 채우기

for fwver in fwver_non_list:
    if (train_quality[train_quality.user_id == fwver].fwver.count()) != 0:        
        print(fwver, end=' ')

12607 15680

In [23]:
train_quality[train_quality.fwver.isnull()].head(20)

,time,user_id,fwver,quality_0,quality_1,quality_2,quality_3,quality_4,quality_5,quality_6,quality_7,quality_8,quality_9,quality_10,quality_11,quality_12
38316,2020-11-20 01:00:00,10693,NaN,NaN,0,NaN,0,0,0,0,0,0,0,0,0,0
38317,2020-11-20 01:00:00,10693,NaN,NaN,0,NaN,0,0,0,0,0,0,0,0,0,0
38318,2020-11-20 01:00:00,10693,NaN,NaN,0,NaN,0,0,0,0,0,0,0,0,0,0
38319,2020-11-20 01:00:00,10693,NaN,NaN,0,NaN,0,0,0,0,0,0,0,0,0,0
38320,2020-11-20 01:00:00,10693,NaN,NaN,0,NaN,0,0,0,0,0,0,0,0,0,0
38321,2020-11-20 01:00:00,10693,NaN,NaN,0,NaN,0,0,0,0,0,0,0,0,0,0
38322,2020-11-20 01:00:00,10693,NaN,NaN,0,NaN,0,0,0,0,0,0,0,0,0,0
38323,2020-11-20 01:00:00,10693,NaN,NaN,0,NaN,0,0,0,0,0,0,0,0,0,0
38324,2020-11-20 01:00:00,10693,NaN,NaN,0,NaN,0,0,0,0,0,0,0,0,0,0
38325,2020-11-20 01:00:00,10693,NaN,NaN,0,NaN,0,0,0,0,0,0,0,0,0,0
38326,2020-11-20 01:00:00,10693,NaN,NaN,0,NaN,0,0,0,0,0,0,0,0,0,0
38327,2020-11-20 01:00:00,10693,NaN,NaN,0,NaN,0,0,0,0,0,0,0,0,0,0
60168,2020-11-13 11:30:00,11206,NaN,NaN,1,NaN,0,0,0,0,0,3,0,0,0,0
60169,2020-11-13 11:30:00,11206,NaN,NaN,2,NaN,0,0,0,0,0,3,0,0,0,0
60170,2020-11-13 11:30:00,11206,NaN,NaN,0,NaN,0,0,0,0,0,3,0,0,0,0
60171,2020-11-13 11:30:00,11206,NaN,NaN,-1,NaN,0,0,-1,-1,0,3,0,0,-1,0
60172,2020-11-13 11:30:00,11206,NaN,NaN,0,NaN,0,0,0,0,0,3,0,0,0,0
60173,2020-11-13 11:30:00,11206,NaN,NaN,0,NaN,0,0,0,0,0,3,0,0,0,0
60174,2020-11-13 11:30:00,11206,NaN,NaN,-1,NaN,0,0,-1,-1,0,3,0,0,-1,0
60175,2020-11-13 11:30:00,11206,NaN,NaN,0,NaN,0,0,0,0,0,3,0,0,0,0

In [141]:
# fwver가 null이면 quality_0, quality_2도 null이다.
train_quality[(train_quality.fwver.isnull()) & (train_quality.quality_0.notnull())]
train_quality[(train_quality.fwver.isnull()) & (train_quality.quality_2.notnull())]

Empty DataFrame
Columns: [time, user_id, fwver, quality_0, quality_1, quality_2, quality_3, quality_4, quality_5, quality_6, quality_7, quality_8, quality_9, quality_10, quality_11, quality_12]
Index: []

In [11]:
# quality 결측치
# case1. 최빈값 채우기
# case2. 평균값 채우기

# quality_0
train_quality.quality_0.describe()

count    684192.000000
mean          4.148701
std         479.315029
min          -1.000000
25%           0.000000
50%           0.000000
75%           0.000000
max      157667.000000
Name: quality_0, dtype: float64

In [14]:
train_quality.quality_0.value_counts()

 0.0       542790
-1.0       130828
 1.0         2097
 2.0         1252
 3.0          518
            ...
 1113.0         1
 1177.0         1
 1186.0         1
 946.0          1
 2351.0         1
Name: quality_0, Length: 753, dtype: int64

In [18]:
# quality_2
train_quality.quality_2.describe()

count    788511.000000
mean          4.751094
std         586.252469
min          -1.000000
25%           0.000000
50%           0.000000
75%           0.000000
max      191859.000000
Name: quality_2, dtype: float64

In [17]:
train_quality.quality_2.value_counts()

 0.0        632469
-1.0        144392
 1.0          2937
 2.0          1073
 3.0           580
             ...
 872.0           1
 11259.0         1
 373.0           1
 8278.0          1
 2351.0          1
Name: quality_2, Length: 798, dtype: int64

In [20]:
# quality_5
train_quality.quality_5.value_counts()

# -1, 0 ,1에 데이터가 편향되어있고, max값과 차이가 많이 나므로 평균보단 최빈값으로?

0         428096
-1        153354
1          56171
2          35978
3          21596
           ...
10,490         1
10,821         1
12,379         1
14,523         1
9,558          1
Name: quality_5, Length: 4744, dtype: int64

In [ ]:
# case1. 최빈값으로 채우기

In [ ]:
# quality에서 쉼표로 인해 string형이 된  data 변경

def strToInt(x):
    if type(x) == str:
        x = x.replace(",", "")
        x = int(x)
        return x
    else:
        x = int(x)

In [ ]:
for i in train_quality.columns[3:]:
    train_quality[i] = train_quality[i].apply(lambda x: strToInt(x))

### 2-2. 상관관계 분석

In [ ]:
# 피처간 비슷한 변수들이 있는지 확인하기 위해 상관관계 분석을 수행합니다.

In [ ]:
# heatmap

In [ ]:
# 피처간 비슷한 변수들이 있는지 확인하기 위해 상관관계 분석을 수행합니다.
corr = []
for num in range(1,61):
    df = train[train.num==num]
    num_corr = df.corr()['target']
    num_corr = num_corr.drop(['num','nelec_cool_flag','solar_flag','target'])
    corr.append(num_corr)
corr_df = pd.concat(corr, axis=1).T
corr_df.index = list(range(1,61))

# 시각화
f, ax = plt.subplots(figsize=(20,8))
plt.title("Correlation between features and target", fontsize=15)
sns.heatmap(corr_df.T, cmap=sns.diverging_palette(240,10,as_cmap=True), ax=ax)
plt.xlabel('Building(num)')
plt.show()

### 2-3. 이상치 검출

1) IQR(Inter-Quantile Range)


2) Outlier Detection method (e.g. Isolation Forest)

### IQR

In [ ]:
# 데이터 중에 전체 데이터의 패턴을 벗어나는 데이터가 있는지 확인합니다.
def get_outlier(data, column, weight=1.5):
    

    
    
    print("IQR은 %.2f이다." % IQR)
    print(f"lower_bound는 {lower_bound:.2f}이다.") # f-string
    print("upper_bound는 {:.2f}이다.".format(upper_bound))
    

    return outlier_idx

In [ ]:
selected_col = input("Which column ? ")
outlier_idx = get_outlier(train, selected_col)
train.loc[outlier_idx, :]

In [ ]:
# outlier detection
# anomaly detection

train.drop(outlier_idx)

### Isolation Forest (ML Model)

In [ ]:
from sklearn.ensemble import IsolationForest

X = train.drop(columns=["num", "date_time", "target"])

model =

In [ ]:
# IsolationForest로 판단한 outlier들을 제거합니다

## 3. 예측 모델 구현

In [ ]:
# 모델을 불러옵니다

In [ ]:
# 학습에 필요한 데이터셋을 만듭니다

In [ ]:
# 학습 및 모델 검증을 위해 KFold Cross Validation 기법을 사용합니다.

In [ ]:
# training

In [ ]:
# submission 파일 생성