## 1. 라이브러리 및 데이터 불러오기

In [22]:
# 분석에 필요한 라이브러리를 불러옵니다.
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

In [23]:
base_path = "C:/Users/gmlkd/data/시스템 품질 변화로 인한 사용자 불편 예지 AI 경진대회_data/"
train_err = pd.read_csv(base_path+"train_err_data.csv")
train_problem = pd.read_csv(base_path+"train_problem_data.csv")
train_quality = pd.read_csv(base_path+"train_quality_data.csv")
test_err = pd.read_csv(base_path+"test_err_data.csv")
test_quality = pd.read_csv(base_path+"test_quality_data.csv")
submission = pd.read_csv(base_path+"sample_submission.csv")

C:\Users\gmlkd\AppData\Local\Temp\ipykernel_19756\2401973358.py:4: DtypeWarning: Columns (10,11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  train_quality = pd.read_csv(base_path+"train_quality_data.csv")
C:\Users\gmlkd\AppData\Local\Temp\ipykernel_19756\2401973358.py:6: DtypeWarning: Columns (4,11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  test_quality = pd.read_csv(base_path+"test_quality_data.csv")

In [35]:
display(train_err.head(2))
display(test_err.head(2))
display(train_quality.head(2))
display(test_quality.head(2))
display(train_problem.head(2))

   user_id            time model_nm       fwver  errtype errcode
0    10000  20201101025616  model_3  05.15.2138       15       1
1    10000  20201101030309  model_3  05.15.2138       12       1

   user_id            time model_nm       fwver  errtype errcode
0    30000  20201101030227  model_1  04.16.3553       31       1
1    30000  20201101030227  model_1  04.16.3553       33       2

,time,user_id,fwver,quality_0,quality_1,quality_2,quality_3,quality_4,quality_5,quality_6,quality_7,quality_8,quality_9,quality_10,quality_11,quality_12
0,20201129090000,10000,05.15.2138,0.0,0,0.0,0,0,0,0,0,0,0,4,0,0
1,20201129090000,10000,05.15.2138,0.0,0,0.0,0,0,0,0,0,0,0,4,0,0

,time,user_id,fwver,quality_0,quality_1,quality_2,quality_3,quality_4,quality_5,quality_6,quality_7,quality_8,quality_9,quality_10,quality_11,quality_12
0,20201128195000,30000,04.33.1261,0.0,0,0.0,0,0,0,0,5,0,0,2,0,0
1,20201128195000,30000,04.33.1261,0.0,0,0.0,0,0,0,0,5,0,0,2,0,0

   user_id            time
0    19224  20201102200000
1    23664  20201116140000

In [14]:
train_err.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16554663 entries, 0 to 16554662
Data columns (total 6 columns):
 #   Column    Dtype
---  ------    -----
 0   user_id   int64
 1   time      int64
 2   model_nm  object
 3   fwver     object
 4   errtype   int64
 5   errcode   object
dtypes: int64(3), object(3)
memory usage: 757.8+ MB

In [21]:
train_problem.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5429 entries, 0 to 5428
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  5429 non-null   int64
 1   time     5429 non-null   int64
dtypes: int64(2)
memory usage: 85.0 KB

In [36]:
train_quality.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 828624 entries, 0 to 828623
Data columns (total 16 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   time        828624 non-null  int64
 1   user_id     828624 non-null  int64
 2   fwver       788544 non-null  object
 3   quality_0   684192 non-null  float64
 4   quality_1   828624 non-null  int64
 5   quality_2   788511 non-null  float64
 6   quality_3   828624 non-null  int64
 7   quality_4   828624 non-null  int64
 8   quality_5   828604 non-null  object
 9   quality_6   828624 non-null  int64
 10  quality_7   828624 non-null  object
 11  quality_8   828624 non-null  object
 12  quality_9   828624 non-null  object
 13  quality_10  828624 non-null  object
 14  quality_11  828624 non-null  int64
 15  quality_12  828624 non-null  int64
dtypes: float64(2), int64(8), object(6)
memory usage: 101.2+ MB

In [37]:
test_quality.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 747972 entries, 0 to 747971
Data columns (total 16 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   time        747972 non-null  int64
 1   user_id     747972 non-null  int64
 2   fwver       725208 non-null  object
 3   quality_0   641388 non-null  float64
 4   quality_1   747961 non-null  object
 5   quality_2   726857 non-null  float64
 6   quality_3   747972 non-null  int64
 7   quality_4   747972 non-null  int64
 8   quality_5   747928 non-null  object
 9   quality_6   747972 non-null  int64
 10  quality_7   747972 non-null  object
 11  quality_8   747972 non-null  object
 12  quality_9   747972 non-null  object
 13  quality_10  747972 non-null  object
 14  quality_11  747972 non-null  int64
 15  quality_12  747972 non-null  int64
dtypes: float64(2), int64(7), object(7)
memory usage: 91.3+ MB

In [115]:
print(len(train_err.user_id.unique()))
print(len(train_quality.user_id.unique()))
print(len(train_problem.user_id.unique()))

15000
8281
5000

In [85]:
df_time = train_err.copy()
df_time['time'] = pd.to_datetime(train_err['time'], format='%Y%m%d%H%M%S')

In [104]:
df_time[(df_time.user_id == 10000)]

     user_id                time model_nm       fwver  errtype errcode
0      10000 2020-11-01 02:56:16  model_3  05.15.2138       15       1
1      10000 2020-11-01 03:03:09  model_3  05.15.2138       12       1
2      10000 2020-11-01 03:03:09  model_3  05.15.2138       11       1
3      10000 2020-11-01 05:05:14  model_3  05.15.2138       16       1
4      10000 2020-11-01 05:05:15  model_3  05.15.2138        4       0
..       ...                 ...      ...         ...      ...     ...
312    10000 2020-11-30 06:16:00  model_3  05.15.2138       15       1
313    10000 2020-11-30 19:06:52  model_3  05.15.2138       16       1
314    10000 2020-11-30 19:06:53  model_3  05.15.2138        4       0
315    10000 2020-11-30 19:07:00  model_3  05.15.2138        4       0
316    10000 2020-11-30 21:20:33  model_3  05.15.2138       15       1

[317 rows x 6 columns]

## 2. 데이터 전처리

### 2-1. 결측치 처리

In [117]:
# train_err

train_err.isnull().sum()

user_id     0
time        0
model_nm    0
fwver       0
errtype     0
errcode     1
dtype: int64

In [119]:
train_err[train_err.errcode.isnull()]

         user_id            time model_nm       fwver  errtype errcode
3825744    13639  20201121191718  model_2  04.33.1261        5     NaN

         user_id            time model_nm       fwver  errtype errcode
3825745    13639  20201121191718  model_2  04.33.1261        5   40013

In [124]:
train_err.iloc[3825740:3825750, :]

         user_id            time model_nm       fwver  errtype  errcode
3825740    13639  20201121154731  model_2  04.33.1261       15        1
3825741    13639  20201121174055  model_2  04.33.1261       16        1
3825742    13639  20201121174058  model_2  04.33.1261       31        1
3825743    13639  20201121174110  model_2  04.33.1261       31        0
3825744    13639  20201121191718  model_2  04.33.1261        5      NaN
3825745    13639  20201121191718  model_2  04.33.1261        5    40013
3825746    13639  20201121220919  model_2  04.33.1261       15        1
3825747    13639  20201122030633  model_2  04.33.1261       23  standby
3825748    13639  20201122030639  model_2  04.33.1261       22        1
3825749    13639  20201122030645  model_2  04.33.1261       42        3

In [125]:
train_err.errcode = train_err.errcode.fillna('40013')

In [128]:
# train_problem
train_problem.isnull().sum()

user_id    0
time       0
dtype: int64

In [129]:
# train_quality
train_quality.isnull().sum()

time               0
user_id            0
fwver          40080
quality_0     144432
quality_1          0
quality_2      40113
quality_3          0
quality_4          0
quality_5         20
quality_6          0
quality_7          0
quality_8          0
quality_9          0
quality_10         0
quality_11         0
quality_12         0
dtype: int64

In [191]:
# 1. fwver
# fwver가 non인 user_id를 list로 저장
fwver_non_list = list(set(train_quality[train_quality.fwver.isnull()].user_id.values))

In [195]:
# user_id: 12607, 15680은 다른 row에 fwver값이 있다.
# 1. fwver=non을 이상치로 판단하고 모두 지우기
# 2. train_err에서 해당 user_id의 fwver값을 가져와 채우기

for fwver in fwver_non_list:
    if (train_quality[train_quality.user_id == fwver].fwver.count()) != 0:        
        print(fwver, end=' ')

12607 15680

In [197]:
train_quality[train_quality.fwver.isnull()].head(20)

,time,user_id,fwver,quality_0,quality_1,quality_2,quality_3,quality_4,quality_5,quality_6,quality_7,quality_8,quality_9,quality_10,quality_11,quality_12
38316,20201120010000,10693,NaN,NaN,0,NaN,0,0,0,0,0,0,0,0,0,0
38317,20201120010000,10693,NaN,NaN,0,NaN,0,0,0,0,0,0,0,0,0,0
38318,20201120010000,10693,NaN,NaN,0,NaN,0,0,0,0,0,0,0,0,0,0
38319,20201120010000,10693,NaN,NaN,0,NaN,0,0,0,0,0,0,0,0,0,0
38320,20201120010000,10693,NaN,NaN,0,NaN,0,0,0,0,0,0,0,0,0,0
38321,20201120010000,10693,NaN,NaN,0,NaN,0,0,0,0,0,0,0,0,0,0
38322,20201120010000,10693,NaN,NaN,0,NaN,0,0,0,0,0,0,0,0,0,0
38323,20201120010000,10693,NaN,NaN,0,NaN,0,0,0,0,0,0,0,0,0,0
38324,20201120010000,10693,NaN,NaN,0,NaN,0,0,0,0,0,0,0,0,0,0
38325,20201120010000,10693,NaN,NaN,0,NaN,0,0,0,0,0,0,0,0,0,0
38326,20201120010000,10693,NaN,NaN,0,NaN,0,0,0,0,0,0,0,0,0,0
38327,20201120010000,10693,NaN,NaN,0,NaN,0,0,0,0,0,0,0,0,0,0
60168,20201113113000,11206,NaN,NaN,1,NaN,0,0,0,0,0,3,0,0,0,0
60169,20201113113000,11206,NaN,NaN,2,NaN,0,0,0,0,0,3,0,0,0,0
60170,20201113113000,11206,NaN,NaN,0,NaN,0,0,0,0,0,3,0,0,0,0
60171,20201113113000,11206,NaN,NaN,-1,NaN,0,0,-1,-1,0,3,0,0,-1,0
60172,20201113113000,11206,NaN,NaN,0,NaN,0,0,0,0,0,3,0,0,0,0
60173,20201113113000,11206,NaN,NaN,0,NaN,0,0,0,0,0,3,0,0,0,0
60174,20201113113000,11206,NaN,NaN,-1,NaN,0,0,-1,-1,0,3,0,0,-1,0
60175,20201113113000,11206,NaN,NaN,0,NaN,0,0,0,0,0,3,0,0,0,0

In [141]:
# fwver가 null이면 quality_0, quality_2도 null이다.
train_quality[(train_quality.fwver.isnull()) & (train_quality.quality_0.notnull())]
train_quality[(train_quality.fwver.isnull()) & (train_quality.quality_2.notnull())]

Empty DataFrame
Columns: [time, user_id, fwver, quality_0, quality_1, quality_2, quality_3, quality_4, quality_5, quality_6, quality_7, quality_8, quality_9, quality_10, quality_11, quality_12]
Index: []

In [144]:
train_quality[train_quality.quality_5.isnull()]

,time,user_id,fwver,quality_0,quality_1,quality_2,quality_3,quality_4,quality_5,quality_6,quality_7,quality_8,quality_9,quality_10,quality_11,quality_12
58907,20201128234000,11154,04.33.1261,0.0,0,0.0,0,0,NaN,0,0,0,0,"200,496",0,2
150490,20201126231000,12681,04.22.1778,0.0,0,0.0,0,0,NaN,0,11,0,0,"843,420",0,3
150491,20201126231000,12681,04.22.1778,0.0,0,0.0,0,0,NaN,0,11,0,0,"843,420",0,3
150502,20201127011000,12681,04.22.1778,0.0,0,0.0,0,0,NaN,0,0,0,0,"1,037,689",0,0
150503,20201127011000,12681,04.22.1778,0.0,0,0.0,0,0,NaN,0,0,0,0,"1,037,689",0,0
150527,20201127051000,12681,04.22.1778,0.0,0,0.0,0,0,NaN,0,0,0,0,"631,620",0,0
150538,20201127071000,12681,04.22.1778,0.0,0,0.0,0,0,NaN,0,0,0,0,"1,012,799",0,0
150539,20201127071000,12681,04.22.1778,0.0,0,0.0,0,0,NaN,0,0,0,0,"1,012,799",0,0
209696,20201122004000,13720,04.22.1750,0.0,0,0.0,0,0,NaN,0,0,0,0,"1,005,588",0,0
209697,20201122004000,13720,04.22.1750,0.0,0,0.0,0,0,NaN,0,0,0,0,"1,005,588",0,0
213467,20201104181000,13840,04.22.1750,0.0,0,0.0,0,0,NaN,0,0,0,0,"497,429",0,0
213479,20201104201000,13840,04.22.1750,0.0,0,0.0,0,0,NaN,0,0,0,0,"501,599",0,0
213491,20201104221000,13840,04.22.1750,0.0,0,0.0,0,0,NaN,0,0,0,0,"501,073",0,0
259931,20201106125000,14721,04.22.1750,0.0,0,0.0,0,0,NaN,0,1,0,0,"790,615",0,0
277103,20201129203000,15090,04.22.1778,0.0,0,0.0,0,0,NaN,0,0,0,0,"673,784",0,3
360071,20201110015000,16441,04.22.1750,-1.0,-1,-1.0,0,0,NaN,-1,0,0,0,"239,516",-1,0
451774,20201121032000,18392,04.33.1261,0.0,0,0.0,0,0,NaN,0,0,0,0,"1,015,637",0,0
451775,20201121032000,18392,04.33.1261,0.0,0,0.0,0,0,NaN,0,0,0,0,"1,015,637",0,0
595427,20201106080000,20958,04.33.1185,0.0,0,0.0,0,0,NaN,0,0,0,0,"681,199",0,3
771515,20201104023000,24004,04.22.1750,0.0,0,0.0,0,0,NaN,600,736,0,0,"293,913",0,1

In [151]:
df_quality = train_quality.copy()
df_quality['realtime'] = pd.to_datetime(train_quality['time'], format='%Y%m%d%H%M%S')

In [154]:
len(df_quality.quality_5.unique())

4745

In [152]:
df_quality.iloc[150490:150530,:]

,time,user_id,fwver,quality_0,quality_1,quality_2,quality_3,quality_4,quality_5,quality_6,quality_7,quality_8,quality_9,quality_10,quality_11,quality_12,realtime
150490,20201126231000,12681,04.22.1778,0.0,0,0.0,0,0,NaN,0,11,0,0,"843,420",0,3,2020-11-26 23:10:00
150491,20201126231000,12681,04.22.1778,0.0,0,0.0,0,0,NaN,0,11,0,0,"843,420",0,3,2020-11-26 23:10:00
150492,20201127011000,12681,04.22.1778,0.0,0,0.0,0,0,"166,662",0,0,0,0,"1,037,689",0,0,2020-11-27 01:10:00
150493,20201127011000,12681,04.22.1778,0.0,0,0.0,0,0,"165,588",0,0,0,0,"1,037,689",0,0,2020-11-27 01:10:00
150494,20201127011000,12681,04.22.1778,0.0,0,0.0,0,0,"161,574",0,0,0,0,"1,037,689",0,0,2020-11-27 01:10:00
150495,20201127011000,12681,04.22.1778,0.0,0,0.0,0,0,"165,286",0,0,0,0,"1,037,689",0,0,2020-11-27 01:10:00
150496,20201127011000,12681,04.22.1778,0.0,0,0.0,0,0,"139,750",0,0,0,0,"1,037,689",0,0,2020-11-27 01:10:00
150497,20201127011000,12681,04.22.1778,0.0,0,0.0,0,0,"95,202",0,0,0,0,"1,037,689",0,0,2020-11-27 01:10:00
150498,20201127011000,12681,04.22.1778,0.0,0,0.0,0,0,"56,619",0,0,0,0,"1,037,689",0,0,2020-11-27 01:10:00
150499,20201127011000,12681,04.22.1778,0.0,0,0.0,0,0,"47,092",0,0,0,0,"1,037,689",0,0,2020-11-27 01:10:00
150500,20201127011000,12681,04.22.1778,0.0,0,0.0,0,0,"37,310",0,0,0,0,"1,037,689",0,0,2020-11-27 01:10:00
150501,20201127011000,12681,04.22.1778,0.0,0,0.0,0,0,"2,606",0,0,0,0,"1,037,689",0,0,2020-11-27 01:10:00
150502,20201127011000,12681,04.22.1778,0.0,0,0.0,0,0,NaN,0,0,0,0,"1,037,689",0,0,2020-11-27 01:10:00
150503,20201127011000,12681,04.22.1778,0.0,0,0.0,0,0,NaN,0,0,0,0,"1,037,689",0,0,2020-11-27 01:10:00
150504,20201127031000,12681,04.22.1778,0.0,0,0.0,0,0,"7,230",0,0,0,0,"24,075",0,0,2020-11-27 03:10:00
150505,20201127031000,12681,04.22.1778,0.0,0,0.0,0,0,"4,445",0,0,0,0,"24,075",0,0,2020-11-27 03:10:00
150506,20201127031000,12681,04.22.1778,0.0,0,0.0,0,0,"2,644",0,0,0,0,"24,075",0,0,2020-11-27 03:10:00
150507,20201127031000,12681,04.22.1778,0.0,0,0.0,0,0,"1,663",0,0,0,0,"24,075",0,0,2020-11-27 03:10:00
150508,20201127031000,12681,04.22.1778,0.0,0,0.0,0,0,"1,182",0,0,0,0,"24,075",0,0,2020-11-27 03:10:00
150509,20201127031000,12681,04.22.1778,0.0,0,0.0,0,0,768,0,0,0,0,"24,075",0,0,2020-11-27 03:10:00
150510,20201127031000,12681,04.22.1778,0.0,0,0.0,0,0,597,0,0,0,0,"24,075",0,0,2020-11-27 03:10:00
150511,20201127031000,12681,04.22.1778,0.0,0,0.0,0,0,650,0,0,0,0,"24,075",0,0,2020-11-27 03:10:00
150512,20201127031000,12681,04.22.1778,0.0,0,0.0,0,0,971,0,0,0,0,"24,075",0,0,2020-11-27 03:10:00
150513,20201127031000,12681,04.22.1778,0.0,0,0.0,0,0,"1,228",0,0,0,0,"24,075",0,0,2020-11-27 03:10:00
150514,20201127031000,12681,04.22.1778,0.0,0,0.0,0,0,"1,455",0,0,0,0,"24,075",0,0,2020-11-27 03:10:00
150515,20201127031000,12681,04.22.1778,0.0,0,0.0,0,0,"1,242",0,0,0,0,"24,075",0,0,2020-11-27 03:10:00
150516,20201127051000,12681,04.22.1778,0.0,0,0.0,0,0,"1,704",0,0,0,0,"631,620",0,0,2020-11-27 05:10:00
150517,20201127051000,12681,04.22.1778,0.0,0,0.0,0,0,"4,002",0,0,0,0,"631,620",0,0,2020-11-27 05:10:00
150518,20201127051000,12681,04.22.1778,0.0,0,0.0,0,0,"6,096",0,0,0,0,"631,620",0,0,2020-11-27 05:10:00
150519,20201127051000,12681,04.22.1778,0.0,0,0.0,0,0,"25,478",0,0,0,0,"631,620",0,0,2020-11-27 05:10:00
150520,20201127051000,12681,04.22.1778,0.0,0,0.0,0,0,"66,810",0,0,0,0,"631,620",0,0,2020-11-27 05:10:00
150521,20201127051000,12681,04.22.1778,0.0,0,0.0,0,0,"79,618",0,0,0,0,"631,620",0,0,2020-11-27 05:10:00
150522,20201127051000,12681,04.22.1778,0.0,0,0.0,0,0,"77,659",0,0,0,0,"631,620",0,0,2020-11-27 05:10:00
150523,20201127051000,12681,04.22.1778,0.0,0,0.0,0,0,"82,981",0,0,0,0,"631,620",0,0,2020-11-27 05:10:00
150524,20201127051000,12681,04.22.1778,0.0,0,0.0,0,0,"98,985",0,0,0,0,"631,620",0,0,2020-11-27 05:10:00
150525,20201127051000,12681,04.22.1778,0.0,0,0.0,0,0,"100,758",0,0,0,0,"631,620",0,0,2020-11-27 05:10:00
150526,20201127051000,12681,04.22.1778,0.0,0,0.0,0,0,"87,529",0,0,0,0,"631,620",0,0,2020-11-27 05:10:00
150527,20201127051000,12681,04.22.1778,0.0,0,0.0,0,0,NaN,0,0,0,0,"631,620",0,0,2020-11-27 05:10:00
150528,20201127071000,12681,04.22.1778,0.0,0,0.0,0,0,"58,065",0,0,0,0,"1,012,799",0,0,2020-11-27 07:10:00
150529,20201127071000,12681,04.22.1778,0.0,0,0.0,0,0,"56,759",0,0,0,0,"1,012,799",0,0,2020-11-27 07:10:00

### 2-2. 상관관계 분석

In [ ]:
# 피처간 비슷한 변수들이 있는지 확인하기 위해 상관관계 분석을 수행합니다.

In [ ]:
# heatmap

In [ ]:
# 피처간 비슷한 변수들이 있는지 확인하기 위해 상관관계 분석을 수행합니다.
corr = []
for num in range(1,61):
    df = train[train.num==num]
    num_corr = df.corr()['target']
    num_corr = num_corr.drop(['num','nelec_cool_flag','solar_flag','target'])
    corr.append(num_corr)
corr_df = pd.concat(corr, axis=1).T
corr_df.index = list(range(1,61))

# 시각화
f, ax = plt.subplots(figsize=(20,8))
plt.title("Correlation between features and target", fontsize=15)
sns.heatmap(corr_df.T, cmap=sns.diverging_palette(240,10,as_cmap=True), ax=ax)
plt.xlabel('Building(num)')
plt.show()

### 2-3. 이상치 검출

1) IQR(Inter-Quantile Range)


2) Outlier Detection method (e.g. Isolation Forest)

### IQR

In [ ]:
# 데이터 중에 전체 데이터의 패턴을 벗어나는 데이터가 있는지 확인합니다.
def get_outlier(data, column, weight=1.5):
    

    
    
    print("IQR은 %.2f이다." % IQR)
    print(f"lower_bound는 {lower_bound:.2f}이다.") # f-string
    print("upper_bound는 {:.2f}이다.".format(upper_bound))
    

    return outlier_idx

In [ ]:
selected_col = input("Which column ? ")
outlier_idx = get_outlier(train, selected_col)
train.loc[outlier_idx, :]

In [ ]:
# outlier detection
# anomaly detection

train.drop(outlier_idx)

### Isolation Forest (ML Model)

In [ ]:
from sklearn.ensemble import IsolationForest

X = train.drop(columns=["num", "date_time", "target"])

model =

In [ ]:
# IsolationForest로 판단한 outlier들을 제거합니다

## 3. 예측 모델 구현

In [ ]:
# 모델을 불러옵니다

In [ ]:
# 학습에 필요한 데이터셋을 만듭니다

In [ ]:
# 학습 및 모델 검증을 위해 KFold Cross Validation 기법을 사용합니다.

In [ ]:
# training

In [ ]:
# submission 파일 생성