## 2021년 지하철 이용 패턴 분석

`(클러스터링 Task)`

- ML project를 위해서 사용하는 템플릿 코드를 만듭니다.

1. **필요한 라이브러리와 데이터를 불러옵니다.**


2. **EDA를 수행합니다.** 이 때 EDA의 목적은 풀어야하는 문제를 위해서 수행됩니다.


3. **전처리를 수행합니다.** 이 때 중요한건 **feature engineering**을 어떻게 하느냐 입니다.


4. **학습을 진행합니다.** 어떤 모델을 사용하여 학습할지 정합니다. 클러스터링 모델은 상황에 따라 여러가지 변수가 있으니, EDA 결과를 잘 보고 모델을 고르시면 됩니다.


5. **정량 평가을 진행합니다.** elbow method, silhouette score등을 사용해서 optimal number of cluster나, threshold를 찾아보세요.


6. **정성 평가를 진행합니다.** 분석 결과의 시각화된 정보나, 클러스터별 요약 정보를 정의해서 확인해보세요. 클러스터링은 결과 해석이 무엇보다 중요합니다!

### 1. 데이터 불러오기

In [15]:
# 데이터와 필요한 라이브러리를 불러오세요.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.cluster import KMeans
from sklearn.cluster import DBSCAN
from sklearn.cluster import SpectralClustering
from sklearn.metrics import silhouette_score

df = pd.read_excel("C:/Users/gmlkd/data/2021년 11월  교통카드 통계자료.xls", 
                   sheet_name='지하철 시간대별 이용현황')

In [19]:
df

,사용월,호선명,역ID,지하철역,04:00:00~04:59:59,Unnamed: 5,05:00:00~05:59:59,Unnamed: 7,06:00:00~06:59:59,Unnamed: 9,...,Unnamed: 43,00:00:00~00:59:59,Unnamed: 45,01:00:00~01:59:59,Unnamed: 47,02:00:00~02:59:59,Unnamed: 49,03:00:00~03:59:59,Unnamed: 51,작업일시
0,NaN,NaN,NaN,NaN,승차,하차,승차,하차,승차,하차,...,하차,승차,하차,승차,하차,승차,하차,승차,하차,NaN
1,2021-11,1호선,1.0,서울역,630,11,"8,985","7,058","12,028","40,803",...,"12,360",101,"1,257",1,3,2,2,0,0,2021-12-03 10:49:10
2,2021-11,1호선,10.0,동묘앞,141,1,"2,570",907,"3,387","4,074",...,"2,974",8,"2,017",0,2,0,0,0,0,2021-12-03 10:49:10
3,2021-11,1호선,2.0,시청,30,0,"2,006","4,859","2,980","19,785",...,"2,196",65,309,0,0,0,0,0,0,2021-12-03 10:49:10
4,2021-11,1호선,3.0,종각,118,1,"2,639","3,960","3,158","20,401",...,"2,786",212,321,0,0,0,0,0,0,2021-12-03 10:49:10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
605,2021-11,우이신설선,721.0,북한산보국문,3,0,"1,954",501,"6,236","2,314",...,"5,016",0,0,0,0,0,0,0,0,2021-12-03 10:49:10
606,2021-11,우이신설선,722.0,정릉,2,2,"1,948",443,"5,096","1,819",...,"2,544",0,1,0,0,0,0,0,0,2021-12-03 10:49:10
607,2021-11,우이신설선,723.0,성신여대입구(돈암),1,0,749,448,971,"1,239",...,"1,479",1,0,0,0,0,0,0,0,2021-12-03 10:49:10
608,2021-11,우이신설선,724.0,보문,1,0,440,184,851,"1,345",...,822,2,31,0,0,0,0,0,0,2021-12-03 10:49:10
609,2021-11,우이신설선,725.0,신설동,73,1,865,829,917,"2,033",...,527,1,131,0,0,0,0,0,0,2021-12-03 10:49:10

### 2. EDA

- 데이터에서 찾아야 하는 기초적인 내용들을 확인합니다.

- 클러스터링에서는 데이터 단위(row)를 잘 정의하는 것이 제일 중요합니다. Customer segmentation할 때를 떠올려보세요.


- class imbalance, target distribution, outlier, correlation을 확인합니다.

In [ ]:
# EDA를 수행합니다.

### 3. 전처리

#### 결측치 처리

In [ ]:
# 결측치가 있는 column

In [ ]:
# 중복정보가 있는 column 제거하기 위해 상관계수를 확인해봅니다.
correlated_features =

#### 다중공선성 처리

In [ ]:
# 상관계수가 threshold(e.g. 0.8)를 넘기는 feature들을 제거합니다.
threshold =

#### Encoding Categorical Features

In [ ]:
# dtype이 object인 변수들 처리.

#### feature extraction

- 차원의 저주를 해결하거나, 데이터의 feature 조합을 이용하는 새로운 feature를 생성할 때, PCA를 사용합니다.

- 분석에 사용할 feature를 선택하는 과정도 포함합니다.

In [ ]:
# PCA 적용
from sklearn.decomposition import PCA

if feature_reducing:
    pca = PCA(n_components=0.9) # PCA(n_components=6)
    pca_data = pca.fit_transform(X)

### 4. 학습하기

- 데이터가 많다면 KMeans나 MiniBatchKMeans를 추천합니다.

- 데이터가 적은데 성능을 높이고 싶다면 SpectralClustering을 추천합니다.

- 데이터가 적은데, 클러스터 개수를 적절하게 고르지 못하겠다면 AgglomerativeClustering이나 DBSCAN을 추천합니다.


**[K-Means]**

- Elbow method를 이용하여 최적의 K값을 찾아보세요.


- sparse한 특징을 가지는 데이터를 클러스터링 하기 위해서는 어떤 기법을 사용해야 할까요?


- 클러스터링 결과를 시각화해보고, 실루엣 지수도 계산해봅시다.



**[Hierarchical Clustering]**

- 클러스터 개수를 4로 지정하고, linkage와 affinity를 바꿔가면서 실험해보세요.


- 어떤 linkage와 affinity를 쓸지 고민하려면, 어떤 방법을 사용해보면 좋을까요?


- dendrogram을 그려보세요. 결과가 잘 나왔나요?



**[DBSCAN]**

- MinPts와 Eps를 잘 조절해보세요. 밀도를 알맞게 조절하는게 제일 중요합니다.


- Outlier로 나온 데이터들은 어떻게 하는 것이 좋을까요?



**[Spectral Clustering]**

- 클러스터 개수를 K-means와 같게 지정하고, K-means와 성능을 비교해보세요.


- n_components는 몇 차원 공간으로 embedding할지를 정합니다. 5, 10, 20을 테스트해보세요. (무조건 이게 좋다는건 아닙니다.)

In [ ]:
# 사용할 클러스터링 모델을 불러와서 학습시켜 봅니다.

### 5. 정량 평가

- elbow method, perplexity, silhouette score 등 다양한 평가 지표를 찾아서 사용해보세요!

In [ ]:
# optimal K는 어떻게 찾을까요?

### 6. 정성 평가

- 결과를 해석하는 것이 unsupervised learning에서 굉장히 중요합니다.

- 클러스터링 결과를 시각화해보세요. (tSNE)

- 만들어진 클러스터 별 요약 정보를 확인해보세요.

- 우리의 분석 결과가 reasonable한가요?

In [ ]:
# 시각화
from sklearn.manifold TSNE

tsne = TSNE(n_components=2)
tsne_data = tsne.fit_transform(X)

In [ ]:
# 클러스터 별 요약정보 생성 및 출력